<%= form_with(model: @event, local: true) do |form| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@event.errors.count, "error") %> prohibited this ticket from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">    
  <%= form.label :artist, "Nazwa Wydarzenia" %>
  <%= form.text_field :artist, id: :event_artist, :class => "form-control" %>
</div>

<div class="form-group">
  <%= form.label :description, "Opis Wydarzenia" %>
  <%= form.text_field :description, id: :event_description, :class => "form-control"  %>
</div>

<div class="form-group">
  <%= form.label :price_low, "Cena Minimalna" %>
  <%= form.text_area :price_low, id: :event_price_low, :class => "form-control"  %>
</div>

<div class="form-group">
  <%= form.label :price_high, "Cena Maksymalna" %>
  <%= form.text_field :price_high, id: :event_price_high, :class => "form-control"  %>
</div>

<div class="form-group">
  <%= form.label :event_date, "Data Wydarzenia" %>
  <%= form.text_field :event_date, id: :event_event_date, :class => "form-control"  %>
</div>

<div class="actions">
    <%= link_to events_url, :class => "btn btn-primary",:action => 'go' do %>
      <span class="glyphicon glyphicon-menu-left"></span> Powrót
    <% end %>
    <%= form.submit "Dodaj Nowe Wydarzenie", :class => "btn btn-primary" %>    
  </div>
<% end %>