<div class="container">
  <h1>Szczegóły Wydarzenia</h1>
  <table class ="table">
    <thead>
      <tr>
        <th>Nazwa Wydarzenia</th>        
        <th>Cena Minimalna</th>
        <th>Cena Maksymalna</th>
        <th>Data Wydarzenia</th>        
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @event.artist %></td>
        <td><%= number_with_precision(@event.price_low, precision: 2) %> zł</td>
        <td><%= number_with_precision(@event.price_high, precision: 2) %> zł</td>
        <td><%= @event.event_date %></td>              
      </tr>
    </tbody>
  </table>  
  <h1>Opis Wydarzenia</h1>
  <p><%= @event.description %></p>
  <%= render partial: "tickets_list", :locals => { :tickets => @event.tickets } %> 
  <% if (current_user.present?) %> 
    <%= render partial: "new_ticket", :locals => { ticket: Ticket.new(event_id: @event.id) } %>
  <% end %>
</div>