<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">    
    <%= form.label :name, "Imię i Nazwisko" %>
    <%= form.text_field :name, id: :ticket_name, :class => "form-control" %>
  </div>  

  <div class="form-group">
    <%= form.label :seat_id_seq, "Numer Miejsca" %>
    <%= form.text_field :seat_id_seq, id: :ticket_seat_id_seq, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, "Adres" %>
    <%= form.text_area :address, id: :ticket_address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price, "Cena" %>
    <%= form.text_field :price, id: :ticket_price, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email_address, "E-mail" %>
    <%= form.text_field :email_address, id: :ticket_email_address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone, "Telefon" %>
    <%= form.text_field :phone, id: :ticket_phone, :class => "form-control" %>
  </div>

   <div class="form-group">
    <%= form.label :event_id, "ID Wydarzenia" %>
    <%= form.text_field :event_id, id: :ticket_event_id, :class => "form-control" %>
  </div>

  <div class="field">    
    <%= form.hidden_field :user_id, :value => current_user.id %>   
  </div>

  <div class="actions">
    <%= link_to tickets_path, :class => "btn btn-primary",:action => 'go' do %>
      <span class="glyphicon glyphicon-menu-left"></span> Powrót
    <% end %>
    <%= form.submit "Zakończ", :class => "btn btn-primary" %>    
  </div>
<% end %>