<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Wszystkie bilety</h1>

  <table class ="table table-hover">
    <thead>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Numer miejsca</th>        
        <th>Cena</th>        
        <th colspan="3">Akcje</th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.name %></td>
          <td><%= ticket.seat_id_seq %></td>          
          <td><%= number_with_precision(ticket.price, precision: 2) %> zł</td>         
          <td><%= link_to 'Pokaż', ticket %></td>
          <% if (ticket.user == current_user && current_user.present?) %> 
            <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>        
            <td><%= link_to 'Usuń', ticket, method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć ten bilet?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to new_ticket_path, :class => "btn btn-primary",:action => 'go' do %>
    <span class="glyphicon glyphicon-plus"></span> Nowy Bilet
  <% end %>
</div>
