<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Szczegóły Biletu</h1>
  <table class ="table">
    <thead>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Numer miejsca</th>
        <th>Adres</th>
        <th>Cena</th>
        <th>E-mail</th>
        <th>Telefon</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @ticket.name %></td>
        <td><%= @ticket.seat_id_seq %></td>
        <td><%= @ticket.address %></td>
        <td><%= number_with_precision(@ticket.price, precision: 2) %> zł</td>
        <td><%= @ticket.email_address %></td>
        <td><%= @ticket.phone %></td>        
      </tr>
    </tbody>
  </table>
  <br> 
  <%= link_to tickets_path, :class => "btn btn-primary",:action => 'go' do %>
    <span class="glyphicon glyphicon-menu-left"></span> Powrót
  <% end %>  
  <% if (@ticket.user == current_user && current_user.present?)  %> 
    <%= link_to edit_ticket_path(@ticket), :class => "btn btn-primary",:action => 'go' do %>
      <span class="glyphicon glyphicon-edit"></span> Zmień Dane Biletu
    <% end %>    
  <% end %>  
</div>
